@import 'src/styles/vars';

#home {
  font-family: 'Oswald', sans-serif;
  padding: 0;
  margin: 0;
}


.carousel { 
  h3 {
    margin-bottom: 3rem;
    opacity: 0.85;
  }
}

.img-fluid {
  top: .5rem;
  width: 17rem;
  margin: 0 0 0 3.1rem;
  position: absolute;
}

.img-responsive {
  width: 400px;
  height: 502px;
  -o-object-fit: cover;
  object-fit: cover;
}

.footerHome {
  padding: 0 0 0.5rem 0;
  background-color: $primaryColor;
  color: white;
  font-family: 'Oswald', sans-serif;

  h2 {
    padding: 1rem 0 1rem 0;
    font-size: 0.9em;
    font-weight: bold;
    color: $eventColorBlue;
  }

  p {
    font-size: 0.8em;
    color: $secondaryColor;
  }
} 

