@import 'src/styles/vars';

.mainHome {
  padding: 1rem 0 0.2rem 0;
  color: white;
  background-image: url(./HomePageDesktop.jpg);
  background-size: cover;
  
  
  h1 {
    color: rgb(158, 220, 245);
    font-size: 4em;
    font-family: fantasy;
  }

  h2 {
    font-weight: bold;
  }

  h3 {
    font-size: 1em;
  }

  p {
    padding: 11rem 0 0 0;
    color: white;
  }
}

.footerHome {
  padding: 0 0 0.5rem 0;
  color: rgb(56, 56, 56);

  h2 {
    padding: 1rem 0 1rem 0;
    font-size: 0.9em;
    font-weight: bold;
  }

  p {
    font-size: 0.8em;
  }
} 