@import 'src/styles/vars';

#home {
  font-family: 'Oswald', sans-serif;
}

// .mainHome {
//   max-height: 100%;
// }

.carousel {
  
  img {
    max-width: 100%;
    height: auto;
  }

  p{
    margin-top: 15rem;
  }
}

.footerHome {
  padding: 0 0 0.5rem 0;
  color: rgb(56, 56, 56);

  h2 {
    padding: 1rem 0 1rem 0;
    font-size: 0.9em;
    font-weight: bold;
  }

  p {
    font-size: 0.8em;
  }
} 

