@import 'src/styles/vars';

.location_newUser {
  text-align: center;
  height: 100vh;
  font-size: 1.2em;

  @media (min-width: $md) {
    font-size: 2em;
  }

  @media (min-width: $lg) {
    font-size: 3em;
  }
}

#header_location 
{
  width: 100%;
  background-color: $cardColor;

  img {
    width: 21.5vw;
  }
}

.location {
  // Added
  height: 100%;
  max-height: 80.9%;
  padding: 1.8rem;
  background-color: $primaryColorLight;

  h2 {
    font-size: 1.3em;
    font-weight: bold;
    margin-top: 0.5rem;
    color: $secondaryColor;
  }

   p {
     margin-top: 3rem;;
     font-size: 0.7em;
     color: $textColor;
     font-style: italic;
   }

  h3 {
    font-size: 1em;
    margin-bottom: 2rem;
    color: $eventColorBlue;
  }

  .buttonChoice {
    margin-top: 1rem;
    padding: 1.5rem;
    justify-content: flex-start;
    font-weight: bold;
    background-color: $cardColor;
    // Added
    width: 60%;
    margin: auto;
        @media screen and (device-aspect-ratio: 40/71){
          width: 80%;
          }
    margin-bottom: 1rem;
    &:hover {
      background-color: $eventColorBlue;
      color: grey;
    }
  }
}

.camp_logo {
    display: inline;
    padding-right: 1rem;
}

#see {
  width: 60%;
  margin: auto;
  
  background-color: $linkColor;

  &:hover {
    background-color: $eventColorBlue;
    color: grey;
  }
}

.choice {
  color: $secondaryColor;
  font-size: 1.2em;
}

