@import 'src/styles/vars';

.scrolling-wrapper {
  background-color: $primaryColor;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  scroll-behavior: smooth;



  & .user-card {
    flex: 0 0 auto;
    margin: .6rem;
    width: 100px;

  }

  @media (min-width: $md) {
    & .user-card {
      width: 125px;
      margin: .8rem;

    }
  }

  @media (min-width: $lg) {
    & .user-card {
      width: 150px;
    }
  }
}



// remove scrollbar but keep content scrollable
::-webkit-scrollbar {
  display: none;
}


// @import 'src/styles/vars';

// .scrolling-wrapper {
//   overflow-x: scroll;
//   scroll-behavior: smooth;

//   & .user-card {
//     flex: 0 0 auto;
//     margin: .8rem .6rem;
//     width: 75px;
//   }
// }

// // remove scrollbar but keep content scrollable
// ::-webkit-scrollbar {
//   display: none;
// }
