.scrolling-wrapper {
  background-color: green;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  scroll-behavior: smooth;


  & .user-card {
    flex: 0 0 auto;
    margin: 1.2rem;
  }
}

// remove scrollbar but keep content scrollable
::-webkit-scrollbar {
  display: none;
}
