@import 'src/styles/vars';

.user-profil{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &-info{
    margin-top:1rem;
    &-user-name{
      font-size:1.5em;
      font-weight: 700;
    }
    &-avatar{
      margin-bottom: 1rem;
    }
    &--edit-link{
      font-size:1em;
    }
  }
  &-navigation{
    .btn{
      font-size: .8em;
      height:46px;
      &-primary{
        background-color: $primaryColorLight;
        border: darken($primaryColorLight, 20%);
        &:hover{
          background-color: lighten($primaryColorLight, 30%);
          border: darken($primaryColorLight, 50%);
        }
      }
      &-outline-secondary {
        border-color: lighten($eventColorPurple, 30%);
        color: lighten($eventColorPurple, 30%);
        &:hover{
          border-color: darken($eventColorPurple, 10%);
          color: darken($eventColorPurple, 20%);
          background-color: rgb(238, 238, 238);
        }
      }
    }
    .icon{
      font-size: 1.6rem;
    }
  }
  &-disconnect{
    margin-bottom: .8rem;
    .btn-danger{
      background-color: $eventColorPurple;
      border: darken($eventColorPurple, 10%);
    }
  }
}

.edit-profil {
  .input-group > .rbt .rbt-input-hint-container {display: inline;}
  .form-control{height: auto;}

  &-url-list{
    padding: .2rem .5rem;
    background-color: lighten($primaryColor,75%);
    border-radius: .3em;
    li{
      display: block;
      position: relative;
      margin-bottom: .5rem;
      border-bottom: 1px dashed rgba(white, .7);
      .link{
        display: inline-block;
        text-overflow: ellipsis;
      /* Required for text-overflow to do anything */
        white-space: nowrap;
        overflow: hidden;
        width: calc(100% - 90px);
      }
      .suppr{
        position: absolute;
        right: 0;
        font-size: .8em;

      }
      &:last-child{
        margin-bottom: 0;
        border-bottom: none;
      }
    }
    &-url{
      font-size: .9rem;
    }
  }
}
