@import 'src/styles/vars';

.notfound {

      &-title {
        font-size: 1.2rem;
        color: white;
        margin: 1.2rem;
      }

      &-img {
        min-width: 300px !important;
        max-width: 400px !important;
        margin: auto;
        position: fixed !important;
        left: 1.8rem;
      }

      &-link {
        font-size: 2rem;
        color: white;
        position: relative !important;
        left: 7.4rem;
        top: 21.7rem;
      }
}