@import 'src/styles/vars';

.notfound {

  width: 400px;
  margin: auto;

      &-title {
        font-size: 1.2rem;
        color: white;
        margin: 1.2rem;
      }

      &-img {
        min-width: 300px !important;
        max-width: 400px !important;
        margin: auto;
        position: relative !important;
        left: 1.8rem;
      }

      &-link {
        font-size: 2rem;
        color: white;
        margin: 3.2rem;

          &:focus {
            color: $secondaryColor;
          }
      }
}