// Import vars scss
@import 'src/styles/vars';

/* All the card */
.card {
  height: 400px;
  width: 270px;
  margin: 3rem auto;
  //background-color: $primaryColorLight !important;
  background-color: transparent !important;
  background: repeating-linear-gradient(
  45deg,
  $primaryColor,
  $primaryColor 10px,
  $primaryColorVeryLight 10px,
  $primaryColorVeryLight 30px
  );
  border-radius: 0.75rem !important;
  cursor: pointer;
  font-family: $font;

          /* The img on the card */
          &-img-responsive {
            width: 25%;
            height: 18%;
            object-fit: cover;
            position: relative;
            margin: 0;
            top: .8rem;
            left: .8rem;
            border: solid 2px $secondaryColor;
            
          }
          
          /* The tags on the card like #entraide #lamour */
          &-tag {
            color: $secondaryColor;
            font-size: 1rem;
            margin-top: 1rem !important;
            word-spacing: 1rem;
            text-align: center;
            position: relative;
           
            overflow-wrap: break-word;
          
              @media screen and (device-aspect-ratio: 40/71){
              font-size: 1rem !important;
              margin: 3%;
              }
          }
          
          /* Regroup the name and the exp */
          &-top {
            left: 6rem;
            top: -3.2rem;
            text-align: center;
            position: relative;

                    &-name {
                      position: relative;
                      font-size: 1.5rem;
                      color: $textColor;
                      width: max-content;
                      margin:0;
                        @media screen and (device-aspect-ratio: 40/71){
                        font-size: 1.3rem !important;
                        }
                    }
          
                    &-exp {
                      color: $secondaryColor;
                      font-size: 1rem;
                      position: relative;
                      width: max-content;
                      margin:0;
                        @media screen and (device-aspect-ratio: 40/71){
                        font-size: 0.9rem !important;
                        
                        }
                    }
            }
            
            /* Regroup the bio, button and techs / On middle of the card */
            &-content {
              width: 90%;
              height: 60%;
              margin: -4.3% auto; 
              background-color: #8C99A6;
              border-radius: 5px;
              
              position: relative;
            
              @media screen and (device-aspect-ratio: 40/71){
              height: 60%;
              }
            
                      &-bio {
                        font-size: 0.8rem;
                        
                        padding: 1rem;
                        text-align: justify;
                        width: auto;
                        height: 30%;
                        color: #fff !important;
                        overflow-wrap: break-word;


                            &-end {

                              position: relative;
                              bottom: -17.8rem;
                              color: white;
                              font-size: 0.9rem;
                              padding-left: 0.7rem;
                            }
                      }
          
                      &-btn {
                        background-color: $linkColor !important;
                        color: white !important;
                        padding: 0.2rem;
                        border-radius: 5px;
                        border: 0;
                        position: relative;
                        font-size: 0.8rem !important;
                        margin-top: 6rem;
                        
                          @media screen and (device-aspect-ratio: 40/71){
                          font-size: 0.7rem !important;
                          margin-top: 6rem;
                          }
                      
                          @media screen and (min-width: 425px) {
                          margin: 37% auto 3%;
                        }
                      }
          

                      &-tech {
                        color: black;
                        font-size: 0.8rem;
                        position: relative;
                        text-align: center;
                        margin-top: 0.4rem;

                          @media screen and (device-aspect-ratio: 40/71){
                          font-size: 0.7rem !important;
                          }
                      }
            }
                      
          
}

.bg-transparent {
  background-color: $primaryColorLight !important;
  cursor: pointer;
}

.footer {
  
  position: absolute !important;
  color: $textColor;
  bottom: -1.8em;
  font-size: 2rem !important;
  left: 1.2em;

      &-right {
        font-size: 3rem !important;
      }

      &-left {
        font-size: 3rem !important
      }
}

// Force Boostrap CSS
.SwipeableList_swipeableList__3dl6y {
  background: $primaryColorVeryLight !important;
}

.SwipeableListItem_content__1k1mn {
  background-color: transparent !important;
}

.mod {
  background-color: transparent !important; 
}

.list-group-item {
  border: none !important;
}

.card-body {
  padding-left: 0 !important;
}

button.card-content-btn {
  color: white !important;
}














