// Gif in the right and left swiping
.right {

  width: 300px;
  height: 400px;
  margin: auto;
  

}

.left {
  font-size: 5em;
  color: green;
  position: absolute;
  margin: auto;
  left: 1.5em;
  
}