// Import vars scss
@import 'src/styles/vars';

// Gif in the right and left swiping
@import 'src/styles/vars';
.right {

  width: 300px;
  margin: auto;
  

}

.left {
  font-size: 5em;
  color: green;
  position: absolute;
  margin: auto;
  left: 1.5em;
  
}

// Force Boostrap CSS
.SwipeableList_swipeableList__3dl6y {
  background: $primaryColorVeryLight !important;
}

.SwipeableListItem_content__1k1mn {
  background-color: transparent !important;
}

.mod {
  background-color: transparent !important; 
}

.list-group-item {
  border: none !important;
}

.card-body {
  padding-left: 0 !important;
}

button.card-content-btn {
  color: white !important;
}