@import 'src/styles/vars';

.user-profil{
  // background: repeating-linear-gradient(
  // 45deg,
  // $primaryColor,
  // $primaryColor 10px,
  // $primaryColorVeryLight 10px,
  // $primaryColorVeryLight 30px
  // );
  min-height: 92vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &-info{
    text-align: center;
    margin-top:1rem;
    &-user-name{
      color: $textColor;
      font-size:1.5em;
      font-weight: 700;
    }
    &-avatar{
      margin-bottom: 1rem;
    }
    &--edit-link{
      font-size:1em;
    }
  }
  &-navigation{
    .btn{
      font-size: 1em;
      height:46px;
      &-primary{
        background-color: $primaryColorLight;
        border: darken($primaryColorLight, 20%);
        &:hover{
          background-color: lighten($primaryColorLight, 30%);
          border: darken($primaryColorLight, 50%);
        }
      }
      &-outline-secondary {
        //border-color: lighten($eventColorPurple, 30%);
        //color: lighten($eventColorPurple, 30%);
        background-color: $eventColorPurple;
        color: $textColor;
        &:hover{
          border-color: darken($eventColorPurple, 10%);
          color: darken($eventColorPurple, 20%);
          background-color: rgb(238, 238, 238);
        }
      }
    }
    .icon{
      font-size: 1.6rem;
    }
  }
  &-disconnect{
    margin-bottom: .8rem;
    .btn-danger{
      background-color: transparent !important;
      border-color: lighten($eventColorPurple, 30%) !important;
      border: 3px solid darken($eventColorPurple, 10%) !important;
    }
  }
}
