@import 'src/styles/vars';

#matrix {
  color: rgb(233, 233, 233);
  background-image: url(/src/data/pictures/Matrix.jpg);
  background-size: cover;
  height: 100vh;
  padding: 2.5rem 0 0 0;
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  text-align: center;

  @media (min-width: $sm) {
      font-size: 1.8em;
  }

  h3 {
    font-size: 1.3em;

    @media (min-width: $sm) {
      margin-top: 10rem;
  }
  }

  p {
    font-size: 0.6em;
    margin-bottom: 0;
  }
}

.what{
  padding: 3rem 0 1rem 0;
  font-size: 0.9em;
}

#choice {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 0 0 0.5rem;
  font-size: 0.7em;
  
  div {
    margin: 1rem;
    color: rgb(61, 61, 61);
    background-color: rgb(214, 214, 214);
    float: left;
    width: calc(33% - 8px);
    height: 6.5rem;
    margin: 0 8px 9px 0;
    border-radius: 0.3%;

    &:hover {
      transform: scale(1.02);
      background-color: $eventColorBlue;
      border-radius: 0.8%;
    }

    p {
      line-height: 6.5rem;
      font-size: 1em;
      
    }
  }
}

#next{
  margin: 0.8rem 0 0 15rem;
  font-size: 1.4em;
  color: $textColor;

  &:hover {
    color: $eventColorBlue;
  }
}

#logo_matrix{
  font-family: fantasy;
  color: rgb(158, 220, 245);
  font-size: 1em;
  margin: 2.5rem 0 0 0;
}

