#matrix {
  color: rgb(233, 233, 233);
  background-image: url(/src/data/Matrix.jpg);
  background-size: cover;
  height: 667px;
  padding: 2.5rem 0 0 0;
  font-family: 'Oswald', sans-serif;

  h3 {
    font-size: 1.3em;
  }

  p {
    font-size: 0.6em;
    margin-bottom: 0;
  }
}

.what{
  padding: 3rem 0 1rem 0;
  font-size: 0.9em;
}

#choice {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 0 0 0.5rem;
  font-size: 0.7em;
  
  div {
    margin: 1rem;
    color: rgb(61, 61, 61);
    background-color: rgb(214, 214, 214);
    float: left;
    width: calc(33% - 8px);
    height: 6.5rem;
    margin: 0 8px 9px 0;
    border-radius: 0.3%;

    p {
      line-height: 6.5rem;
      font-size: 1em;
    }
  }
}

#next{
  margin: 0.8rem 0 0 14rem;
  font-size: 1.3em;
}

#logo_matrix{
  font-family: fantasy;
  color: rgb(158, 220, 245);
  font-size: 1em;
  margin: 3.8rem 0 0 0;
}

