@import 'src/styles/vars';


// All the NavBar
.navbar  {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    background-color: $primaryColorLight;
    border-radius: 5px;

    @media (max-width: $lg) {
    height: 3rem;
    }

    @media (min-width: $lg) {
    height: 5rem;
    }
            // Items like icons in the NavBar
            &-item {
                color: $textColor;
                font-size: 1.5rem;
                margin: 1rem;

                @media (min-width: 1250px) {
                font-size: 2rem;
                }
            }
}

// Logo of TinDev in the NavBar
img {
    margin: 0;
    width: 7em;
    height: 2.5em;
    
    @media (min-width: $lg) {
        height: 4rem;
        width: 10rem;
        }
}