@import 'src/styles/vars';

// All the NavBar
.td-navbar  {
  background-color: $primaryColorLight;
  color: $textColor;
  .navbar{
    &-text {
      color: rgba($textColor, .5) !important;
      margin: 0 !important;
      font-size: 1.2em;
      padding-top: 0;
      padding-bottom: 0;
    }
  }
  .navbar-title{
    display: block;
    width: 100%;
    text-align: right;
  }
  .icon{
    font-size: 2.25rem;
    cursor: pointer;
  }
  .td-navbar-logo{
    font-weight: 700;
    background: linear-gradient(to right, rgb(255, 238, 0), rgb(255, 124, 17), rgb(255, 0, 221));
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
